.main-header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 0.2rem;
    background: rgb(255,102,0);

    img {
        margin-right: 0.5rem;
        border: 1px solid #fff;
    }

    nav {
        margin-left: 1.8rem;

        a {
            margin: 0 0.5rem;
            color: #000;
            text-decoration: none;
        }
    }

    .login {
        margin-left: auto;
        margin-right: 0.5rem;

        a {
            color: #000;
            text-decoration: none;
        }
    }
}